<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.xiaoyuu.inwust.dao.GoodMapper">
  <resultMap id="BaseResultMap" type="me.xiaoyuu.inwust.model.Good">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="sub_category_id" jdbcType="INTEGER" property="subCategoryId" />
    <result column="main_image" jdbcType="VARCHAR" property="mainImage" />
    <result column="sub_images" jdbcType="VARCHAR" property="subImages" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="view_count" jdbcType="INTEGER" property="viewCount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>