<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.xiaoyuu.inwust.dao.UserMapper">
  <resultMap id="BaseResultMap" type="me.xiaoyuu.inwust.model.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
      <result column="gender" jdbcType="TINYINT" property="gender"/>
      <result column="date_of_birth" jdbcType="TIMESTAMP" property="dateOfBirth"/>
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
      <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber"/>
      <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
      <result column="openid" jdbcType="VARCHAR" property="openid"/>
      <result column="status" jdbcType="TINYINT" property="status"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
      <result column="deleted" jdbcType="BIT" property="deleted"/>
  </resultMap>
</mapper>